.App-Container{
  position: relative;
  /* width: 1440px; */
  height: 3728px;
  background: #FFFFFF;
}

/* .BG{
  position: absolute;
  left: 0%;
  right: 0%;
  top: -12.98%;
  bottom: -5.39%;

  background: #FFFFFF;
} */

.Blue-BG {
  position: absolute;
  left: -0.15%;
  right: -0.28%;
  top: -0.11%;
  bottom: 79.99%;
  background-image: url('/public/images/blue-background.jpg') 
}

.Path-3-Copy-2 {
  position: absolute;
  left: -0.15%;
  right: -0.27%;
  top: -0.11%;
  bottom: 82.08%;

  background: linear-gradient(180deg, rgba(1, 108, 183, 0.65) 0%, rgba(4, 153, 227, 0.65) 104.3%);
}

.Path-3-Copy {
  position: absolute;
  left: -0.14%;
  right: -0.28%;
  top: -0.11%;
  bottom: 81.55%;

  background: #039BE5;
  mix-blend-mode: normal;
  opacity: 0.23
}

.Path-3 {
  position: absolute;
  left: -0.14%;
  right: -0.28%;
  top: -0.11%;
  bottom: 79.99%;

  background: linear-gradient(180deg, #039BE5 10.64%, #039BE5 57.01%);
  background-blend-mode: multiply;
  mix-blend-mode: normal;
  opacity: 0.24;
}